@model IEnumerable<WebApplication2.Models.TicketModel>

@{
    ViewData["Title"] = "Index";
    var currentPage = 1;
    int pageSize = 6;
    int totalPages = Math.Max(1, (int)Math.Ceiling((double)Model.Count() / pageSize));

    if (ViewContext.HttpContext.Request.Query.ContainsKey("page"))
    {
        currentPage = Convert.ToInt32(ViewContext.HttpContext.Request.Query["page"]);
    }
    currentPage = Math.Min(Math.Max(currentPage, 1), totalPages);
    
}

<h1>Квитки</h1>
<br>

<div class="row">
    <div class="col-md-3" @(User.IsInRole("Admin") ? "" : "hidden")>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="UserEditor" asp-action="AdminDashboard">Головна</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="VacantDepartures" asp-action="">Рейси</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Trains" asp-action="">Типи потягів</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-area="" asp-controller="Ticket" asp-action="">Квитки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="UserEditor" asp-action="">Користувачі</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="UserEditor" asp-action="Roles">Ролі</a>
            </li>
        </ul>
    </div>
    <div class=@(User.IsInRole("Admin") ? "col-md-9" : "")>

        <table class="table">
            <thead class=@(User.IsInRole("Admin") ? "dark" : "tckt")>
                <tr>
                    <th>
                        <label>№</label>
                    </th>
                    <th>
                        <label>Відправлення</label>
                    </th>
                    <th>
                        <label>Дата відправлення</label>
                    </th>
                    <th>
                        <label>Дата прибуття</label>
                    </th>
                    <th>
                        <label>ПІ Пасажира</label>
                    </th>
                    <th @(User.IsInRole("Admin") ? "hidden" : "")>
                        <label>Вагон (№)</label>
                    </th>
                    <th @(User.IsInRole("Admin") ? "hidden" : "")>
                        <label>Місце (№)</label>
                    </th>
                    <th @(User.IsInRole("Admin") ? "" : "hidden")>
                        <label>Дата покупки</label>
                    </th>
                    <th>
                        <label>Статус</label>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    var pagedData = Model.Skip((currentPage - 1) * pageSize).Take(pageSize);
                    foreach (var item in pagedData)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ticketPID)
                            </td>
                            <td>
                                <label>@item.departureP - @item.arrivalP</label>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.departureD)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.arrivalD)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.passengerFullName)
                            </td>
                            <td @(User.IsInRole("Admin") ? "hidden" : "")>
                                @Html.DisplayFor(modelItem => item.carriageNumber)
                            </td>
                            <td @(User.IsInRole("Admin") ? "hidden" : "")>
                                @Html.DisplayFor(modelItem => item.seat)
                            </td>
                            <td @(User.IsInRole("Admin") ? "" : "hidden")>
                                @Html.DisplayFor(modelItem => item.PurchaseDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.ticketID">Деталі</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="10" style="text-align: center">Немає квитків для відображення</td>
                    </tr>
                }
            </tbody>
        </table>

        <nav>
            <ul class="pagination justify-content-center">
                @if (currentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="?page=@(currentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }

                @for (int i = 1; i <= totalPages; i++)
                {
                    <li class="page-item @(currentPage == i ? "active" : "")">
                        <a class="page-link" href="?page=@i">@i</a>
                    </li>
                }

                @if (currentPage < totalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="?page=@(currentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
<style>
    .tckt {
        color: white;
        background-color: #1560BD;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .dark {
        color: white;
        background-color: black;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    th,
    td {
        vertical-align: middle;
    }

    .table a {
        width: 100%;
    }
</style>